openapi: 3.1.0
info:
  title: Stadia Maps Geospatial APIs
  description: The Stadia Maps Geospatial APIs provide you with the data you need to build awesome applications.
  contact:
    name: Stadia Maps Support
    url: https://www.stadiamaps.com
    email: support@stadiamaps.com
  version: 11.0.0
servers:
- url: https://api.stadiamaps.com
- url: https://api-eu.stadiamaps.com
paths:
  /route/v1:
    post:
      tags:
      - Routing
      summary: Get turn by turn routing instructions between two or more locations.
      description: The route (turn-by-turn) API computes routes between two or more locations. It supports a variety of tunable costing methods, and supports routing through intermediate waypoints and discontinuous multi-leg routes.
      operationId: route
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/routeRequest'
      responses:
        '200':
          description: The computed route(s).
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/routeResponse'
                - $ref: '#/components/schemas/osrmRouteResponse'
        '400':
          description: Bad request; more details will be included
        '500':
          description: An internal parse error occurred; more details will be included
      security:
      - ApiKeyAuth: []
  /nearest_roads/v1:
    post:
      tags:
      - Routing
      summary: Find the nearest roads to the set of input locations.
      description: The nearest roads API allows you query for detailed information about streets and intersections near the input locations.
      operationId: nearest-roads
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/nearestRoadsRequest'
      responses:
        '200':
          description: A list of streets and intersections that match the query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nearestRoadsResponse'
        '400':
          description: Bad request; more details will be included
      security:
      - ApiKeyAuth: []
  /matrix/v1:
    post:
      tags:
      - Routing
      summary: Calculate a time distance matrix for use in an optimizer.
      description: |-
        The time distance matrix API lets you compare travel times between a set of possible start and end points.
        See https://docs.stadiamaps.com/limits/ for documentation of our latest limits.
      operationId: time-distance-matrix
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/matrixRequest'
      responses:
        '200':
          description: A matrix of times and distances between the start and end points.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/matrixResponse'
        '400':
          description: 'Bad request; more details will be included. NOTE: failure to find suitable edges near a location will result in a 400.'
      security:
      - ApiKeyAuth: []
  /isochrone/v1:
    post:
      tags:
      - Routing
      summary: Calculate areas of equal travel time from a location.
      description: The isochrone API computes reachable areas within a time or distance constraint. The resulting polygon can be rendered on a map and used for assessing urban mobility, planning, or as a search filter of places within a constrained range.
      operationId: isochrone
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/isochroneRequest'
      responses:
        '200':
          description: A GeoJSON object which can be integrated into your geospatial application.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/isochroneResponse'
        '400':
          description: Bad request; more details will be included
      security:
      - ApiKeyAuth: []
  /optimized_route/v1:
    post:
      tags:
      - Routing
      summary: Calculate an optimized route between a known start and end point.
      description: The optimized route API is a mix of the matrix and normal route API. For an optimized route, the start and end point are fixed, but the intermediate points will be re-ordered to form an optimal route visiting all nodes once.
      operationId: optimized-route
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/optimizedRouteRequest'
      responses:
        '200':
          description: The optimized route, which looks more or less like a normal route response. The only significant difference is that the `locations` may be re-ordered and annotated with an `original_index`.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/routeResponse'
                - $ref: '#/components/schemas/osrmRouteResponse'
        '400':
          description: Bad request; more details will be included
        '500':
          description: An internal parse error occurred; more details will be included
      security:
      - ApiKeyAuth: []
  /map_match/v1:
    post:
      tags:
      - Routing
      summary: Match a recorded route to the road network.
      description: The map matching API transforms a recorded route into navigation instructions like you would get from the `route` endpoint. The input can be in the form of either an encoded polyline, or (optionally) timestamped coordinates.
      operationId: map-match
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mapMatchRequest'
      responses:
        '200':
          description: The matched route(s), which looks more or less like a normal route response, optionally with a `linear_references` key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mapMatchRouteResponse'
        '400':
          description: Bad request; more details will be included
        '500':
          description: An internal parse error occurred; more details will be included
      security:
      - ApiKeyAuth: []
  /trace_attributes/v1:
    post:
      tags:
      - Routing
      summary: Trace the attributes of roads visited on a route.
      description: The trace attributes endpoint retrieves detailed information along a route, returning details for each section along the path, as well as any intersections encountered. In addition to tracing a recording route, this is great for providing just-in-time info to navigation applications, enabling them to conserve resources by omitting info like speed limits upfront that may be irrelevant if the user goes off-route.
      operationId: trace-attributes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/traceAttributesRequest'
      responses:
        '200':
          description: The edges along the traced route with detailed info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/traceAttributesResponse'
        '400':
          description: Bad request; more details will be included
      security:
      - ApiKeyAuth: []
  /geocoding/v1/autocomplete:
    get:
      tags:
      - Geocoding
      summary: Search and geocode quickly based on partial input.
      description: Autocomplete enables interactive search-as-you-type user experiences, suggesting places as you type, along with information that will help your users find the correct place quickly.
      operationId: autocomplete
      parameters:
      - name: text
        in: query
        description: The place name (address, venue name, etc.) to search for.
        required: true
        schema:
          type: string
          example: 1600 Pennsylvania Ave NW
      - name: focus.point.lat
        in: query
        description: The latitude of the point to focus the search on. This will bias results toward the focus point. Requires `focus.point.lon`.
        required: false
        schema:
          type: number
          format: double
          maximum: 90
          minimum: -90
      - name: focus.point.lon
        in: query
        description: The longitude of the point to focus the search on. This will bias results toward the focus point. Requires `focus.point.lat`.
        required: false
        schema:
          type: number
          format: double
          maximum: 180
          minimum: -180
      - name: boundary.rect.min_lat
        in: query
        description: Defines the min latitude component of a bounding box to limit the search to. Requires all other `boundary.rect` parameters to be specified.
        required: false
        schema:
          type: number
          format: double
          maximum: 90
          minimum: -90
      - name: boundary.rect.max_lat
        in: query
        description: Defines the max latitude component of a bounding box to limit the search to. Requires all other `boundary.rect` parameters to be specified.
        required: false
        schema:
          type: number
          format: double
          maximum: 90
          minimum: -90
      - name: boundary.rect.min_lon
        in: query
        description: Defines the min longitude component of a bounding box to limit the search to. Requires all other `boundary.rect` parameters to be specified.
        required: false
        schema:
          type: number
          format: double
          maximum: 180
          minimum: -180
      - name: boundary.rect.max_lon
        in: query
        description: Defines the max longitude component of a bounding box to limit the search to. Requires all other `boundary.rect` parameters to be specified.
        required: false
        schema:
          type: number
          format: double
          maximum: 180
          minimum: -180
      - name: boundary.circle.lat
        in: query
        description: The latitude of the center of a circle to limit the search to. Requires `boundary.circle.lon`.
        required: false
        schema:
          type: number
          format: double
          maximum: 90
          minimum: -90
      - name: boundary.circle.lon
        in: query
        description: The longitude of the center of a circle to limit the search to. Requires `boundary.circle.lat`.
        required: false
        schema:
          type: number
          format: double
          maximum: 180
          minimum: -180
      - name: boundary.circle.radius
        in: query
        description: The radius of the circle (in kilometers) to limit the search to. Defaults to 50km (search) or 1km (reverse) if unspecified.
        required: false
        schema:
          type: number
          format: double
      - name: boundary.country
        in: query
        description: A list of country codes in ISO 3116-1 alpha-2 or alpha-3 format.
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: boundary.gid
        in: query
        description: The GID of an area to limit the search to.
        required: false
        schema:
          type: string
      - name: layers
        in: query
        description: A list of layers to limit the search to.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/geocodingLayer'
        style: form
        explode: false
      - name: sources
        in: query
        description: A list of sources to limit the search to.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/geocodingSource'
        style: form
        explode: false
      - name: size
        in: query
        description: The maximum number of results to return.
        required: false
        schema:
          type: integer
      - name: lang
        in: query
        description: A BCP47 language tag which specifies a preference for localization of results. By default, results are in the default locale of the source data, but specifying a language will attempt to localize the results. Note that while a `langtag` (in RFC 5646 terms) can contain script, region, etc., only the `language` portion, an ISO 639 code, will be considered. So `en-US` and `en-GB` will both be treated as English.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A GeoJSON collection of autocomplete search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/geocodeResponse'
        '400':
          description: Bad request
      security:
      - ApiKeyAuth: []
  /geocoding/v1/search:
    get:
      tags:
      - Geocoding
      summary: Search for location and other info using a place name or address (forward geocoding).
      description: The search endpoint lets you search for addresses, points of interest, and administrative areas. This is most commonly used for forward geocoding applications where you need to find the geographic coordinates of an address.
      operationId: search
      parameters:
      - name: text
        in: query
        description: The place name (address, venue name, etc.) to search for.
        required: true
        schema:
          type: string
          example: 1600 Pennsylvania Ave NW
      - name: focus.point.lat
        in: query
        description: The latitude of the point to focus the search on. This will bias results toward the focus point. Requires `focus.point.lon`.
        required: false
        schema:
          type: number
          format: double
          maximum: 90
          minimum: -90
      - name: focus.point.lon
        in: query
        description: The longitude of the point to focus the search on. This will bias results toward the focus point. Requires `focus.point.lat`.
        required: false
        schema:
          type: number
          format: double
          maximum: 180
          minimum: -180
      - name: boundary.rect.min_lat
        in: query
        description: Defines the min latitude component of a bounding box to limit the search to. Requires all other `boundary.rect` parameters to be specified.
        required: false
        schema:
          type: number
          format: double
          maximum: 90
          minimum: -90
      - name: boundary.rect.max_lat
        in: query
        description: Defines the max latitude component of a bounding box to limit the search to. Requires all other `boundary.rect` parameters to be specified.
        required: false
        schema:
          type: number
          format: double
          maximum: 90
          minimum: -90
      - name: boundary.rect.min_lon
        in: query
        description: Defines the min longitude component of a bounding box to limit the search to. Requires all other `boundary.rect` parameters to be specified.
        required: false
        schema:
          type: number
          format: double
          maximum: 180
          minimum: -180
      - name: boundary.rect.max_lon
        in: query
        description: Defines the max longitude component of a bounding box to limit the search to. Requires all other `boundary.rect` parameters to be specified.
        required: false
        schema:
          type: number
          format: double
          maximum: 180
          minimum: -180
      - name: boundary.circle.lat
        in: query
        description: The latitude of the center of a circle to limit the search to. Requires `boundary.circle.lon`.
        required: false
        schema:
          type: number
          format: double
          maximum: 90
          minimum: -90
      - name: boundary.circle.lon
        in: query
        description: The longitude of the center of a circle to limit the search to. Requires `boundary.circle.lat`.
        required: false
        schema:
          type: number
          format: double
          maximum: 180
          minimum: -180
      - name: boundary.circle.radius
        in: query
        description: The radius of the circle (in kilometers) to limit the search to. Defaults to 50km (search) or 1km (reverse) if unspecified.
        required: false
        schema:
          type: number
          format: double
      - name: boundary.country
        in: query
        description: A list of country codes in ISO 3116-1 alpha-2 or alpha-3 format.
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: boundary.gid
        in: query
        description: The GID of an area to limit the search to.
        required: false
        schema:
          type: string
      - name: layers
        in: query
        description: A list of layers to limit the search to.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/geocodingLayer'
        style: form
        explode: false
      - name: sources
        in: query
        description: A list of sources to limit the search to.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/geocodingSource'
        style: form
        explode: false
      - name: size
        in: query
        description: The maximum number of results to return.
        required: false
        schema:
          type: integer
      - name: lang
        in: query
        description: A BCP47 language tag which specifies a preference for localization of results. By default, results are in the default locale of the source data, but specifying a language will attempt to localize the results. Note that while a `langtag` (in RFC 5646 terms) can contain script, region, etc., only the `language` portion, an ISO 639 code, will be considered. So `en-US` and `en-GB` will both be treated as English.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A GeoJSON collection of search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/geocodeResponse'
        '400':
          description: Bad request
      security:
      - ApiKeyAuth: []
  /geocoding/v1/search/structured:
    get:
      tags:
      - Geocoding
      summary: Find locations matching components (structured forward geocoding).
      description: The structured search endpoint lets you search for addresses, points of interest, and administrative areas. Rather than a single string which the API must infer meaning from, the structured search endpoint allows you to specify the known components upfront, which is useful in many forward geocoding workflows.
      operationId: search-structured
      parameters:
      - name: address
        in: query
        description: A street name, optionally with a house number.
        required: false
        schema:
          type: string
          example: 11 Wall Street
      - name: neighbourhood
        in: query
        description: Varies by area, but has a locally specific meaning (NOT always an official administrative unit).
        required: false
        schema:
          type: string
          example: Financial District
      - name: borough
        in: query
        description: A unit within a city (not widely used, but present in places like NYC and Mexico City).
        required: false
        schema:
          type: string
          example: Manhattan
      - name: locality
        in: query
        description: The city, village, town, etc. that the place/address is part of.
        required: false
        schema:
          type: string
          example: New York
      - name: county
        in: query
        description: Administrative divisions between localities and regions. Not commonly used as input to structured geocoding.
        required: false
        schema:
          type: string
          example: New York County
      - name: region
        in: query
        description: Typically the first administrative division within a country. For example, a US state or a Canadian province.
        required: false
        schema:
          type: string
          example: New York
      - name: postalcode
        in: query
        description: A mail sorting code.
        required: false
        schema:
          type: string
          example: '10005'
      - name: country
        in: query
        description: A country code in ISO 3116-1 alpha-2 or alpha-3 format.
        required: false
        schema:
          type: string
          example: USA
      - name: focus.point.lat
        in: query
        description: The latitude of the point to focus the search on. This will bias results toward the focus point. Requires `focus.point.lon`.
        required: false
        schema:
          type: number
          format: double
          maximum: 90
          minimum: -90
      - name: focus.point.lon
        in: query
        description: The longitude of the point to focus the search on. This will bias results toward the focus point. Requires `focus.point.lat`.
        required: false
        schema:
          type: number
          format: double
          maximum: 180
          minimum: -180
      - name: boundary.rect.min_lat
        in: query
        description: Defines the min latitude component of a bounding box to limit the search to. Requires all other `boundary.rect` parameters to be specified.
        required: false
        schema:
          type: number
          format: double
          maximum: 90
          minimum: -90
      - name: boundary.rect.max_lat
        in: query
        description: Defines the max latitude component of a bounding box to limit the search to. Requires all other `boundary.rect` parameters to be specified.
        required: false
        schema:
          type: number
          format: double
          maximum: 90
          minimum: -90
      - name: boundary.rect.min_lon
        in: query
        description: Defines the min longitude component of a bounding box to limit the search to. Requires all other `boundary.rect` parameters to be specified.
        required: false
        schema:
          type: number
          format: double
          maximum: 180
          minimum: -180
      - name: boundary.rect.max_lon
        in: query
        description: Defines the max longitude component of a bounding box to limit the search to. Requires all other `boundary.rect` parameters to be specified.
        required: false
        schema:
          type: number
          format: double
          maximum: 180
          minimum: -180
      - name: boundary.circle.lat
        in: query
        description: The latitude of the center of a circle to limit the search to. Requires `boundary.circle.lon`.
        required: false
        schema:
          type: number
          format: double
          maximum: 90
          minimum: -90
      - name: boundary.circle.lon
        in: query
        description: The longitude of the center of a circle to limit the search to. Requires `boundary.circle.lat`.
        required: false
        schema:
          type: number
          format: double
          maximum: 180
          minimum: -180
      - name: boundary.circle.radius
        in: query
        description: The radius of the circle (in kilometers) to limit the search to. Defaults to 50km (search) or 1km (reverse) if unspecified.
        required: false
        schema:
          type: number
          format: double
      - name: boundary.country
        in: query
        description: A list of country codes in ISO 3116-1 alpha-2 or alpha-3 format.
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: boundary.gid
        in: query
        description: The GID of an area to limit the search to.
        required: false
        schema:
          type: string
      - name: layers
        in: query
        description: A list of layers to limit the search to.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/geocodingLayer'
        style: form
        explode: false
      - name: sources
        in: query
        description: A list of sources to limit the search to.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/geocodingSource'
        style: form
        explode: false
      - name: size
        in: query
        description: The maximum number of results to return.
        required: false
        schema:
          type: integer
      - name: lang
        in: query
        description: A BCP47 language tag which specifies a preference for localization of results. By default, results are in the default locale of the source data, but specifying a language will attempt to localize the results. Note that while a `langtag` (in RFC 5646 terms) can contain script, region, etc., only the `language` portion, an ISO 639 code, will be considered. So `en-US` and `en-GB` will both be treated as English.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A GeoJSON collection of search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/geocodeResponse'
        '400':
          description: Bad request
      security:
      - ApiKeyAuth: []
  /geocoding/v1/search/bulk:
    post:
      tags:
      - Geocoding
      summary: Quickly run a batch of geocoding queries against the search, structured search, or reverse endpoints.
      description: The batch endpoint lets you specify many search, structured search, or reverse requests at once. Once received, all requests will be processed internally on our infrastructure, improving throughput when you need to do a lot of queries.
      operationId: search-bulk
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bulkSearchRequest'
      responses:
        '200':
          description: A JSON array of the individual query responses, each annotated with a status code. Individual requests may fail but this endpoint will still return all results. Responses will be in the same order as the input.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/bulkSearchResponse'
        '400':
          description: Bad request; more details will be included
      security:
      - ApiKeyAuth: []
  /geocoding/v1/reverse:
    get:
      tags:
      - Geocoding
      summary: Find places and addresses near geographic coordinates (reverse geocoding).
      description: Reverse geocoding and search finds places and addresses near any geographic coordinates.
      operationId: reverse
      parameters:
      - name: point.lat
        in: query
        description: The latitude of the point at which to perform the search.
        required: true
        schema:
          type: number
          format: double
          example: 48.848268
          maximum: 90
          minimum: -90
      - name: point.lon
        in: query
        description: The longitude of the point at which to perform the search.
        required: true
        schema:
          type: number
          format: double
          example: 2.294471
          maximum: 180
          minimum: -180
      - name: boundary.circle.radius
        in: query
        description: The radius of the circle (in kilometers) to limit the search to. Defaults to 50km (search) or 1km (reverse) if unspecified.
        required: false
        schema:
          type: number
          format: double
      - name: layers
        in: query
        description: A list of layers to limit the search to.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/geocodingLayer'
        style: form
        explode: false
      - name: sources
        in: query
        description: A list of sources to limit the search to.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/geocodingSource'
        style: form
        explode: false
      - name: boundary.country
        in: query
        description: A list of country codes in ISO 3116-1 alpha-2 or alpha-3 format.
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: boundary.gid
        in: query
        description: The GID of an area to limit the search to.
        required: false
        schema:
          type: string
      - name: size
        in: query
        description: The maximum number of results to return.
        required: false
        schema:
          type: integer
      - name: lang
        in: query
        description: A BCP47 language tag which specifies a preference for localization of results. By default, results are in the default locale of the source data, but specifying a language will attempt to localize the results. Note that while a `langtag` (in RFC 5646 terms) can contain script, region, etc., only the `language` portion, an ISO 639 code, will be considered. So `en-US` and `en-GB` will both be treated as English.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A GeoJSON collection of search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/geocodeResponse'
        '400':
          description: Bad request
      security:
      - ApiKeyAuth: []
  /geocoding/v1/place:
    get:
      tags:
      - Geocoding
      summary: Retrieve details of a place using its GID.
      description: Many search result components include an associated GID field (for example, an address may have a `localadmin_gid`). The place endpoint lets you look up these places directly by ID. Note that GIDs are not stable for all sources. See the [online documentation](https://docs.stadiamaps.com/geocoding-search-autocomplete/place-lookup/) for details.
      operationId: place-details
      parameters:
      - name: ids
        in: query
        description: A list of GIDs to search for.
        required: true
        schema:
          type: array
          items:
            type: string
          minItems: 1
        style: form
        explode: false
      - name: lang
        in: query
        description: A BCP47 language tag which specifies a preference for localization of results. By default, results are in the default locale of the source data, but specifying a language will attempt to localize the results. Note that while a `langtag` (in RFC 5646 terms) can contain script, region, etc., only the `language` portion, an ISO 639 code, will be considered. So `en-US` and `en-GB` will both be treated as English.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A GeoJSON collection of search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/geocodeResponse'
        '400':
          description: Bad request
      security:
      - ApiKeyAuth: []
  /tz/lookup/v1:
    get:
      tags:
      - Geospatial
      summary: Get time zone information for any point on earth.
      description: Retrieve the time zone identifier, standard UTC offset, special offset (such as DST), and the localized time in several common formats.
      operationId: tz-lookup
      parameters:
      - name: lat
        in: query
        description: The latitude of the point you are interested in.
        required: true
        schema:
          type: number
          format: double
          maximum: 90
          minimum: -90
        style: form
        example: 58.5953
      - name: lng
        in: query
        description: The longitude of the point you are interested in.
        required: true
        schema:
          type: number
          format: double
          maximum: 180
          minimum: -180
        style: form
        example: 25.0136
      - name: timestamp
        in: query
        description: |-
          The UNIX timestamp at which the UTC and DST offsets will be calculated.
          This defaults to the present time. This endpoint is not necessarily guaranteed to be accurate
          for timestamps that occurred in the past. Time zone geographic boundaries change
          over time, so if the point you are querying for was previously in a different
          time zone, historical results will not be accurate. If, however, the point has
          been in the same geographic time zone for a very long time (ex: `America/New_York`),
          the historical data may be accurate for 100+ years in the past (depending on how far
          back the IANA TZDB rules have been specified).
        required: false
        schema:
          type: integer
          format: int64
          maximum: 8200290900000
          minimum: 0
        style: form
      responses:
        '200':
          description: The time zone information and local time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tzResponse'
              example:
                base_utc_offset: 3600
                dst_offset: 3600
                local_rfc_2822_timestamp: Mon, 9 Jun 2025 16:29:38 +0200
                local_rfc_3389_timestamp: 2025-06-09T16:29:38+02:00
                timestamp: 1749479378
                tz_id: Europe/Zurich
        '400':
          description: Bad request
        '404':
          description: Time zone not found
      security:
      - ApiKeyAuth: []
  /tz/lookup/v2:
    get:
      tags:
      - Geospatial
      summary: Get time zone information for any point on earth.
      description: Retrieve the time zone identifier, total UTC offset, whether DST is in effect, and the localized time in several common formats.
      operationId: tz-lookup-v2
      parameters:
      - name: lat
        in: query
        description: The latitude of the point you are interested in.
        required: true
        schema:
          type: number
          format: double
          maximum: 90
          minimum: -90
        style: form
        example: 58.5953
      - name: lng
        in: query
        description: The longitude of the point you are interested in.
        required: true
        schema:
          type: number
          format: double
          maximum: 180
          minimum: -180
        style: form
        example: 25.0136
      - name: timestamp
        in: query
        description: |-
          The UNIX timestamp at which the UTC and DST offsets will be calculated.
          This defaults to the present time. This endpoint is not necessarily guaranteed to be accurate
          for timestamps that occurred in the past. Time zone geographic boundaries change
          over time, so if the point you are querying for was previously in a different
          time zone, historical results will not be accurate. If, however, the point has
          been in the same geographic time zone for a very long time (ex: `America/New_York`),
          the historical data may be accurate for 100+ years in the past (depending on how far
          back the IANA TZDB rules have been specified).
        required: false
        schema:
          type: integer
          format: int64
          maximum: 8200290900000
          minimum: 0
        style: form
      responses:
        '200':
          description: The time zone information and local time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tzResponseV2'
              example:
                is_dst: true
                local_rfc_2822_timestamp: Mon, 9 Jun 2025 16:29:38 +0200
                local_rfc_3339_timestamp: 2025-06-09T16:29:38+02:00
                timestamp: 1749479378
                tz_id: Europe/Zurich
                utc_offset: 7200
        '400':
          description: Bad request
        '404':
          description: Time zone not found
      security:
      - ApiKeyAuth: []
  /elevation/v1:
    post:
      tags:
      - Geospatial
      summary: Get the elevation profile along a polyline or at a point.
      description: The Stadia elevation API allows you to get the elevation of any point on earth. You can pass either a simple set of points or a Google encoded polyline string. This pairs well with our routing APIs, so you can generate an elevation profile for your next bike or run.
      operationId: elevation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/heightRequest'
        required: true
      responses:
        '200':
          description: A list of elevations along the polyline, in meters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeightResponse'
              example:
                height:
                - 37
                id: kesklinn
                shape:
                - lat: 59.436884
                  lon: 24.742595
        '400':
          description: Bad request; more details will be included
      security:
      - ApiKeyAuth: []
  /geocoding/v2/autocomplete:
    get:
      tags:
      - Geocoding
      summary: Search and geocode quickly based on partial input.
      description: Autocomplete enables interactive search-as-you-type user experiences, suggesting places as you type, along with information that will help your users find the correct place quickly.
      operationId: autocomplete-v2
      parameters:
      - name: text
        in: query
        description: The text to search for (the start of an address, place name, etc.).
        required: true
        schema:
          type: string
        style: form
        example: 1600 Pennsylvania Ave NW
      - name: focus.point.lat
        in: query
        description: |-
          The latitude of a focus point.

          If provided (along with longitude), the search results should be more locally relevant.
        required: false
        schema:
          $ref: '#/components/schemas/Latitude'
        style: form
      - name: focus.point.lon
        in: query
        description: |-
          The longitude of a focus point.

          If provided (along with longitude), the search results should be more locally relevant.
        required: false
        schema:
          $ref: '#/components/schemas/Longitude'
        style: form
      - name: layers
        in: query
        description: A list of layers to limit the search to.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/LayerId'
        style: form
        explode: false
      - name: sources
        in: query
        description: A list of sources to limit the search to.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/SourceId'
        style: form
        explode: false
      - name: boundary.gid
        in: query
        description: |-
          The GID of a region to limit the search to.

          Note: these are not stable for all datasets! For example, OSM features may be deleted and re-added with a new ID.
        required: false
        schema:
          $ref: '#/components/schemas/DocumentGid'
        style: form
      - name: boundary.country
        in: query
        description: |-
          A list of comma-separated country codes in ISO 3116-1 alpha-2 or alpha-3 format.
          The search will be limited to these countries.
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: boundary.rect.min_lat
        in: query
        description: |-
          The minimum latitude component of a search bounding box.

          NOTE: Requires all other boundary.rect parameters to be specified.
        required: false
        schema:
          type: number
          format: double
          maximum: 90
          minimum: -90
        style: form
      - name: boundary.rect.min_lon
        in: query
        description: |-
          The minimum longitude component of a search bounding box.

          NOTE: Requires all other boundary.rect parameters to be specified.
        required: false
        schema:
          $ref: '#/components/schemas/Longitude'
        style: form
      - name: boundary.rect.max_lat
        in: query
        description: |-
          The maximum latitude component of a search bounding box.

          NOTE: Requires all other boundary.rect parameters to be specified.
        required: false
        schema:
          $ref: '#/components/schemas/Latitude'
        style: form
      - name: boundary.rect.max_lon
        in: query
        description: |-
          The maximum longitude component of a search bounding box.

          NOTE: Requires all other boundary.rect parameters to be specified.
        required: false
        schema:
          $ref: '#/components/schemas/Longitude'
        style: form
      - name: boundary.circle.lat
        in: query
        description: |-
          The latitude of the center of a circle to limit the search to.

          NOTE: Requires boundary.circle.lon.
        required: false
        schema:
          $ref: '#/components/schemas/Latitude'
        style: form
      - name: boundary.circle.lon
        in: query
        description: |-
          The longitude of the center of a circle to limit the search to.

          NOTE: Requires boundary.circle.lat.
        required: false
        schema:
          $ref: '#/components/schemas/Longitude'
        style: form
      - name: boundary.circle.radius
        in: query
        description: |-
          The radius of the circle (in kilometers) to limit the search to.

          NOTE: Requires the other boundary.circle parameters to take effect.
          Defaults to 50km if unspecified.
        required: false
        schema:
          $ref: '#/components/schemas/SearchRadius'
        style: form
      - name: size
        in: query
        description: The maximum number of items to return from a query.
        required: false
        schema:
          $ref: '#/components/schemas/QuerySizeLimit'
        style: form
      - name: lang
        in: query
        description: |-
          A BCP47 language tag which specifies a preference for localization of results.
          There is no default value, so place names will be returned as-is,
          which is usually in the local language.
          NOTE: The Accept-Language header is also respected, and many user agents will set it automatically.
        required: false
        schema:
          type: string
        style: form
      responses:
        '200':
          description: A GeoJSON FeatureCollection with the results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeResponseEnvelope_PropertiesV2'
        '400':
          description: A response with a description of why the request is malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeResponseEnvelope_PropertiesV2'
              example:
                features: []
                geocoding:
                  attribution: https://stadiamaps.com/attribution/
                  error: missing required parameter foo
                type: FeatureCollection
        '500':
          description: A response with a description of what went wrong internally
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeResponseEnvelope_PropertiesV2'
              example:
                features: []
                geocoding:
                  attribution: https://stadiamaps.com/attribution/
                  error: internal server error
                type: FeatureCollection
      security:
      - ApiKeyAuth: []
  /geocoding/v2/search:
    get:
      tags:
      - Geocoding
      summary: Search for location and other info using a place name or address (forward geocoding).
      operationId: search-v2
      parameters:
      - name: text
        in: query
        description: The text to search for (the start of an address, place name, etc.).
        required: true
        schema:
          type: string
        style: form
        example: 1600 Pennsylvania Ave NW
      - name: focus.point.lat
        in: query
        description: |-
          The latitude of a focus point.

          If provided (along with longitude), the search results should be more locally relevant.
        required: false
        schema:
          $ref: '#/components/schemas/Latitude'
        style: form
      - name: focus.point.lon
        in: query
        description: |-
          The longitude of a focus point.

          If provided (along with longitude), the search results should be more locally relevant.
        required: false
        schema:
          $ref: '#/components/schemas/Longitude'
        style: form
      - name: layers
        in: query
        description: A list of layers to limit the search to.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/LayerId'
        style: form
        explode: false
      - name: sources
        in: query
        description: A list of sources to limit the search to.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/SourceId'
        style: form
        explode: false
      - name: boundary.gid
        in: query
        description: |-
          The GID of a region to limit the search to.

          Note: these are not stable for all datasets! For example, OSM features may be deleted and re-added with a new ID.
        required: false
        schema:
          $ref: '#/components/schemas/DocumentGid'
        style: form
      - name: boundary.country
        in: query
        description: |-
          A list of comma-separated country codes in ISO 3116-1 alpha-2 or alpha-3 format.
          The search will be limited to these countries.
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: boundary.rect.min_lat
        in: query
        description: |-
          The minimum latitude component of a search bounding box.

          NOTE: Requires all other boundary.rect parameters to be specified.
        required: false
        schema:
          type: number
          format: double
          maximum: 90
          minimum: -90
        style: form
      - name: boundary.rect.min_lon
        in: query
        description: |-
          The minimum longitude component of a search bounding box.

          NOTE: Requires all other boundary.rect parameters to be specified.
        required: false
        schema:
          $ref: '#/components/schemas/Longitude'
        style: form
      - name: boundary.rect.max_lat
        in: query
        description: |-
          The maximum latitude component of a search bounding box.

          NOTE: Requires all other boundary.rect parameters to be specified.
        required: false
        schema:
          $ref: '#/components/schemas/Latitude'
        style: form
      - name: boundary.rect.max_lon
        in: query
        description: |-
          The maximum longitude component of a search bounding box.

          NOTE: Requires all other boundary.rect parameters to be specified.
        required: false
        schema:
          $ref: '#/components/schemas/Longitude'
        style: form
      - name: boundary.circle.lat
        in: query
        description: |-
          The latitude of the center of a circle to limit the search to.

          NOTE: Requires boundary.circle.lon.
        required: false
        schema:
          $ref: '#/components/schemas/Latitude'
        style: form
      - name: boundary.circle.lon
        in: query
        description: |-
          The longitude of the center of a circle to limit the search to.

          NOTE: Requires boundary.circle.lat.
        required: false
        schema:
          $ref: '#/components/schemas/Longitude'
        style: form
      - name: boundary.circle.radius
        in: query
        description: |-
          The radius of the circle (in kilometers) to limit the search to.

          NOTE: Requires the other boundary.circle parameters to take effect.
          Defaults to 50km if unspecified.
        required: false
        schema:
          $ref: '#/components/schemas/SearchRadius'
        style: form
      - name: size
        in: query
        description: The maximum number of items to return from a query.
        required: false
        schema:
          $ref: '#/components/schemas/QuerySizeLimit'
        style: form
      - name: lang
        in: query
        description: |-
          A BCP47 language tag which specifies a preference for localization of results.
          There is no default value, so place names will be returned as-is,
          which is usually in the local language.
          NOTE: The Accept-Language header is also respected, and many user agents will set it automatically.
        required: false
        schema:
          type: string
        style: form
      responses:
        '200':
          description: A GeoJSON FeatureCollection with the results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeResponseEnvelope_PropertiesV2'
        '400':
          description: A response with a description of why the request is malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeResponseEnvelope_PropertiesV2'
              example:
                features: []
                geocoding:
                  attribution: https://stadiamaps.com/attribution/
                  error: missing required parameter foo
                type: FeatureCollection
        '500':
          description: A response with a description of what went wrong internally
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeResponseEnvelope_PropertiesV2'
              example:
                features: []
                geocoding:
                  attribution: https://stadiamaps.com/attribution/
                  error: internal server error
                type: FeatureCollection
      security:
      - ApiKeyAuth: []
  /geocoding/v2/reverse:
    get:
      tags:
      - Geocoding
      summary: Find places and addresses near a location point (reverse geocoding).
      description: Reverse geocoding and search finds places and addresses near any geographic coordinates.
      operationId: reverse-v2
      parameters:
      - name: point.lat
        in: query
        description: The latitude of the point at which to perform the search.
        required: true
        schema:
          $ref: '#/components/schemas/Latitude'
        style: form
        example: 48.848268
      - name: point.lon
        in: query
        description: The longitude of the point at which to perform the search.
        required: true
        schema:
          $ref: '#/components/schemas/Longitude'
        style: form
        example: 2.294471
      - name: layers
        in: query
        description: A list of layers to limit the search to.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/LayerId'
        style: form
        explode: false
      - name: sources
        in: query
        description: A list of sources to limit the search to.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/SourceId'
        style: form
        explode: false
      - name: boundary.gid
        in: query
        description: |-
          The GID of a region to limit the search to.

          Note: these are not stable for all datasets! For example, OSM features may be deleted and re-added with a new ID.
        required: false
        schema:
          $ref: '#/components/schemas/DocumentGid'
        style: form
      - name: boundary.country
        in: query
        description: |-
          A list of comma-separated country codes in ISO 3116-1 alpha-2 or alpha-3 format.
          The search will be limited to these countries.
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: boundary.circle.radius
        in: query
        description: |-
          The radius of the circle (in kilometers) to limit the search to.

          Defaults to 1km if unspecified.
        required: false
        schema:
          $ref: '#/components/schemas/ReverseRadius'
        style: form
      - name: size
        in: query
        description: The maximum number of items to return from a query.
        required: false
        schema:
          $ref: '#/components/schemas/QuerySizeLimit'
        style: form
      - name: lang
        in: query
        description: |-
          A BCP47 language tag which specifies a preference for localization of results.
          There is no default value, so place names will be returned as-is,
          which is usually in the local language.
          NOTE: The Accept-Language header is also respected, and many user agents will set it automatically.
        required: false
        schema:
          type: string
        style: form
      responses:
        '200':
          description: A GeoJSON FeatureCollection with the results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeResponseEnvelope_PropertiesV2'
        '400':
          description: A response with a description of why the request is malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeResponseEnvelope_PropertiesV2'
              example:
                features: []
                geocoding:
                  attribution: https://stadiamaps.com/attribution/
                  error: missing required parameter foo
                type: FeatureCollection
        '500':
          description: A response with a description of what went wrong internally
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeResponseEnvelope_PropertiesV2'
              example:
                features: []
                geocoding:
                  attribution: https://stadiamaps.com/attribution/
                  error: internal server error
                type: FeatureCollection
      security:
      - ApiKeyAuth: []
  /geocoding/v2/place_details:
    get:
      tags:
      - Geocoding
      summary: Retrieve detailed information about a place by its GID.
      description: Many search result components include an associated GID field (for example, an address may have a `localadmin_gid`). The place endpoint lets you look up these places directly by ID. Note that GIDs are not stable for all sources. See the [online documentation](https://docs.stadiamaps.com/geocoding-search-autocomplete/place-lookup/) for details.
      operationId: place-details-v2
      parameters:
      - name: ids
        in: query
        required: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/DocumentGid'
          minItems: 1
        style: form
        explode: false
        example:
        - whosonfirst:locality:102026327
      - name: lang
        in: query
        description: |-
          A BCP47 language tag which specifies a preference for localization of results.
          There is no default value, so place names will be returned as-is,
          which is usually in the local language.
          NOTE: The Accept-Language header is also respected, and many user agents will set it automatically.
        required: false
        schema:
          type: string
        style: form
      responses:
        '200':
          description: A GeoJSON FeatureCollection with the results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeResponseEnvelope_PropertiesV2'
        '400':
          description: A response with a description of why the request is malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeResponseEnvelope_PropertiesV2'
              example:
                features: []
                geocoding:
                  attribution: https://stadiamaps.com/attribution/
                  error: missing required parameter foo
                type: FeatureCollection
        '500':
          description: A response with a description of what went wrong internally
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeResponseEnvelope_PropertiesV2'
              example:
                features: []
                geocoding:
                  attribution: https://stadiamaps.com/attribution/
                  error: internal server error
                type: FeatureCollection
      security:
      - ApiKeyAuth: []
components:
  schemas:
    AddendumV2:
      type: object
      description: Miscellaneous data that doesn't quite fit anywhere else in the record.
      properties:
        foursquare:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/FoursquareAddendum'
        geonames:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/GeonamesAddendum'
        osm:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/OpenStreetMapAddendum'
        whosonfirst_concordances:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/WhosOnFirstConcordances'
    AddressComponentsV2:
      type: object
      description: Structured address components.
      properties:
        cross_street:
          type:
          - string
          - 'null'
          description: The cross street address component (rarely used).
        number:
          type:
          - string
          - 'null'
          description: |-
            The house / building number.

            Note that, despite the name, this is not strictly numeric.
            Values such as 30-1 and 11A may be valid building/house numbers in some areas.
        postal_code:
          type:
          - string
          - 'null'
          description: The postal code.
        street:
          type:
          - string
          - 'null'
          description: The street component of the address.
        unit:
          type:
          - string
          - 'null'
          description: The unit number (where available).
    Context:
      type: object
      description: |-
        The geographic context for a feature.

        Note that while data sources and country codes are listed,
        this does not *necessarily* mean that the view is a specific hierarchy endorsed by that source.
        We generally attempt to present the same view as OpenStreetMap.
        Contact us if your use case requires a specific political view of the world.
      required:
      - whosonfirst
      properties:
        iso_3166_a2:
          type:
          - string
          - 'null'
          description: The ISO 3166-1 alpha-2 country code in which the feature is located.
        iso_3166_a3:
          type:
          - string
          - 'null'
          description: The ISO 3166-1 alpha-3 country code in which the feature is located.
        whosonfirst:
          $ref: '#/components/schemas/WofContext'
          description: The geographic context, with administrative hierarchy modeled using the Who's on First taxonomy.
    Coordinate:
      type: object
      description: A coordinate point with latitude and longitude.
      required:
      - lat
      - lon
      properties:
        lat:
          $ref: '#/components/schemas/Latitude'
        lon:
          $ref: '#/components/schemas/Longitude'
    DocumentGid:
      type: string
      description: 'A globally unique identifier for a feature. Note: these are not stable for all datasets! For example, OSM features may be deleted and re-added with a new ID. Others like Who''s on First guarantee stability long term.'
      examples:
      - whosonfirst:locality:102026327
      - openstreetmap:venue:node/11744981946
    EncodedPolyline:
      type: string
      description: An encoded polyline (https://developers.google.com/maps/documentation/utilities/polylinealgorithm).
      example: wzvmrBxalf|GcCrX}A|Nu@jI}@pMkBtZ{@x^_Afj@Inn@`@veB
    Feature_PropertiesV2:
      type: object
      required:
      - properties
      properties:
        bbox:
          type:
          - array
          - 'null'
          items:
            type: number
            format: double
          maxItems: 4
          minItems: 4
        geometry:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Point'
        properties:
          type: object
          description: The GeoJSON properties object.
          required:
          - gid
          - layer
          - name
          - precision
          properties:
            addendum:
              oneOf:
              - type: 'null'
              - $ref: '#/components/schemas/AddendumV2'
            address_components:
              oneOf:
              - type: 'null'
              - $ref: '#/components/schemas/AddressComponentsV2'
            coarse_location:
              type:
              - string
              - 'null'
              description: |-
                The coarse-grained location of the place (e.g. Seoul, South Korea).

                In search experiences, this is typically the second line of a result cell.
              examples:
              - Seoul, South Korea
              - London, England
            confidence:
              type:
              - number
              - 'null'
              format: double
              description: |-
                The level of confidence (0.0 - 1.0) that the result is what you actually searched for.

                This is not necessarily the same as relevance (results are returned sorted by relevance already),
                but rather how closely the explicit or inferred components match the result.
                This is only present for forward geocoding responses (not autocomplete or place details).
            context:
              oneOf:
              - type: 'null'
              - $ref: '#/components/schemas/Context'
            distance:
              type:
              - number
              - 'null'
              format: double
              description: The distance from the search focus point, in kilometers.
            formatted_address_line:
              type: string
              description: |-
                The address formatted as a single line,
                following local postal conventions for ordering and separators.
            formatted_address_lines:
              type: array
              items:
                type: string
              description: |-
                Address components split up into lines,
                following local postal conventions for ordering and separators.
            gid:
              type: string
              description: |-
                The globally unique identifier for this result.

                You can use this to uniquely identify a place,
                and to get the full details from the place details endpoint.

                NOTE: While GIDs are unique, they may not necessarily be stable in all datasets.
              examples:
              - whosonfirst:locality:102026327
              - openstreetmap:venue:node/11744981946
            layer:
              type: string
              description: The data layer containing the place (e.g. "address" or "poi").
              examples:
              - address
              - poi
            match_type:
              oneOf:
              - type: 'null'
              - $ref: '#/components/schemas/MatchType'
                description: The type of match (search and structured search only).
            name:
              type: string
              description: |-
                The best name for the place, accounting for request language preferences.

                When building an autocomplete search experience, this is the primary display string.
              examples:
              - Hit Coffee Roasters
              - Golden Gate Bridge
            precision:
              $ref: '#/components/schemas/Precision'
            sources:
              type: array
              items:
                $ref: '#/components/schemas/SourceAttribution'
              description: A list of sources from which the result is derived.
        type:
          type: string
    FoursquareAddendum:
      type: object
      properties:
        tel:
          type:
          - string
          - 'null'
        website:
          type:
          - string
          - 'null'
    GeocodeResponseEnvelope_PropertiesV2:
      type: object
      description: |-
        The GeoJSON response envelope.

        This is parameterized over the feature properties type
        to allow for changes between versions.
      required:
      - features
      - geocoding
      - type
      properties:
        bbox:
          type:
          - array
          - 'null'
          items:
            type: number
            format: double
          description: |-
            The geographic bounding box covering all features in the result set.

            This is empty for autocomplete results.
          maxItems: 4
          minItems: 4
        features:
          type: array
          items:
            $ref: '#/components/schemas/Feature_PropertiesV2'
        geocoding:
          $ref: '#/components/schemas/GeocodingMeta'
        type:
          type: string
          description: |-
            The GeoJSON object type as defined in RFC 7946.

            NOTE: This is always FeatureCollection, as the response envelope is designed to hold multiple results.
    GeocodingMeta:
      type: object
      required:
      - attribution
      properties:
        attribution:
          type: string
        error:
          type:
          - string
          - 'null'
          description: Errors encountered serving the request (if any).
        query:
          type:
          - object
          - 'null'
          description: |-
            An object containing all valid, parsed query parameters.

            For example, this will contain text and possibly other parameters for an autocomplete query.
            This will not be present for invalid requests.
    GeonamesAddendum:
      type: object
      required:
      - feature_code
      properties:
        feature_code:
          type: string
          description: The GeoNames feature code (for GeoNames results only).
    HeightPrecision:
      type: integer
      format: int64
      description: The decimal precision (number of digits after the point) of the output. When 0, integer values are returned. Valid values are 0, 1, and 2.
      examples:
      - 0
      - 1
      - 2
      maximum: 2
      minimum: 0
    HeightResponse:
      type: object
      description: Response from the elevation endpoint.
      properties:
        id:
          type:
          - string
          - 'null'
          description: The request identifier, if provided.
          example: kesklinn
        shape:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Coordinate'
          description: The input shape, if provided as coordinates.
        encoded_polyline:
          type:
          - string
          - 'null'
          description: The input polyline.
        height:
          type:
          - array
          - 'null'
          items:
            type:
            - number
            - 'null'
            format: float
          description: |-
            The list of heights for each point, in meters. Present only if `range` is `false`.
            Null values indicate missing data.
        range_height:
          type:
          - array
          - 'null'
          items:
            type: array
            items:
              type:
              - number
              - 'null'
              format: float
          description: |-
            The list of ranges and heights for each point in the shape, where each entry is an array of length 2.
            Present only if `range` is `true`.

            In each pair, the first element represents the range or distance along the input locations. It is the
            cumulative distance along the previous coordinates in the shape up to the current coordinate.
            This value for the first coordinate in the shape will always be 0.
            The second element in the pair represents the height or elevation at the associated coordinate. The height
            is null if no height data exists for a given location.
            Both values are expressed in meters.
    Latitude:
      type: number
      format: double
      description: Latitude in decimal degrees.
      examples:
      - 12.345678
      - -12.345678
      maximum: 90
      minimum: -90
    LayerId:
      type: string
      description: Canonical geocoding layer IDs for querying.
      enum:
      - poi
      - address
      - street
      - country
      - macroregion
      - region
      - macrocounty
      - county
      - locality
      - localadmin
      - borough
      - neighbourhood
      - postalcode
      - dependency
      - macrohood
      - marinearea
      - disputed
      - empire
      - continent
      - ocean
      - coarse
    Longitude:
      type: number
      format: double
      description: Longitude in decimal degrees.
      examples:
      - 12.345678
      - -12.345678
      maximum: 180
      minimum: -180
    MatchType:
      type: string
      enum:
      - match
      - interpolated
      - fallback
    OpenStreetMapAddendum:
      type: object
      description: |-
        OpenStreetMap-specific additional fields.

        These values are exactly as they appear in the associated OSM tag.
      properties:
        brand:
          type:
          - string
          - 'null'
          description: |-
            The principal brand of goods/services sold at a place,
            or the common identity for individually owned and operated stores.
        iata:
          type:
          - string
          - 'null'
          description: IATA airport code.
        icao:
          type:
          - string
          - 'null'
          description: ICAO airport code.
        opening_hours:
          type:
          - string
          - 'null'
          description: |-
            The opening hours of the place, in the OSM Opening Hours specification.

            See https://wiki.openstreetmap.org/wiki/Key:opening_hours/specification for details.
        operator:
          type:
          - string
          - 'null'
          description: |-
            The company, corp, person, or other entity directly in charge of operating something.

            This is often used for public transport, hotels, restaurants, and postal services.
            See https://wiki.openstreetmap.org/wiki/Key:operator for details
        phone:
          type:
          - string
          - 'null'
        website:
          type:
          - string
          - 'null'
        wheelchair:
          type:
          - string
          - 'null'
          description: Is this place wheelchair accessible?
        wikidata:
          type:
          - string
          - 'null'
          description: Wikidata concordance ID.
        wikipedia:
          type:
          - string
          - 'null'
          description: Wikipedia concordance ID.
    Point:
      type: object
      description: A point geometry in GeoJSON format.
      required:
      - coordinates
      - type
      properties:
        coordinates:
          type: array
          items:
            type: number
            format: double
          maxItems: 2
          minItems: 2
        type:
          type: string
    Precision:
      type: string
      description: The level of detail for the geometry.
      enum:
      - point
      - centroid
    PropertiesV2:
      type: object
      description: The GeoJSON properties object.
      required:
      - gid
      - layer
      - name
      - precision
      properties:
        addendum:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/AddendumV2'
        address_components:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/AddressComponentsV2'
        coarse_location:
          type:
          - string
          - 'null'
          description: |-
            The coarse-grained location of the place (e.g. Seoul, South Korea).

            In search experiences, this is typically the second line of a result cell.
          examples:
          - Seoul, South Korea
          - London, England
        confidence:
          type:
          - number
          - 'null'
          format: double
          description: |-
            The level of confidence (0.0 - 1.0) that the result is what you actually searched for.

            This is not necessarily the same as relevance (results are returned sorted by relevance already),
            but rather how closely the explicit or inferred components match the result.
            This is only present for forward geocoding responses (not autocomplete or place details).
        context:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Context'
        distance:
          type:
          - number
          - 'null'
          format: double
          description: The distance from the search focus point, in kilometers.
        formatted_address_line:
          type: string
          description: |-
            The address formatted as a single line,
            following local postal conventions for ordering and separators.
        formatted_address_lines:
          type: array
          items:
            type: string
          description: |-
            Address components split up into lines,
            following local postal conventions for ordering and separators.
        gid:
          type: string
          description: |-
            The globally unique identifier for this result.

            You can use this to uniquely identify a place,
            and to get the full details from the place details endpoint.

            NOTE: While GIDs are unique, they may not necessarily be stable in all datasets.
          examples:
          - whosonfirst:locality:102026327
          - openstreetmap:venue:node/11744981946
        layer:
          type: string
          description: The data layer containing the place (e.g. "address" or "poi").
          examples:
          - address
          - poi
        match_type:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/MatchType'
            description: The type of match (search and structured search only).
        name:
          type: string
          description: |-
            The best name for the place, accounting for request language preferences.

            When building an autocomplete search experience, this is the primary display string.
          examples:
          - Hit Coffee Roasters
          - Golden Gate Bridge
        precision:
          $ref: '#/components/schemas/Precision'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/SourceAttribution'
          description: A list of sources from which the result is derived.
    QuerySizeLimit:
      type: integer
      format: int64
      description: The maximum number of items to return.
      examples:
      - 3
      - 10
      maximum: 25
      minimum: 1
    ResampleDistance:
      type: integer
      format: int64
      description: The distance in meters at which the input polyline should be sampled to provide uniform distances between points.
      examples:
      - 10
      - 50
      - 100
      maximum: 1000
      minimum: 10
    ReverseRadius:
      type: integer
      format: int64
      description: A radius, measured in kilometers.
      examples:
      - 1
      - 25
      maximum: 25
      minimum: 1
    SearchRadius:
      type: integer
      format: int64
      description: A radius, measured in kilometers.
      examples:
      - 1
      - 42
      maximum: 5000
      minimum: 1
    ShapeFormat:
      type: string
      description: Specifies the precision of an encoded polyline.
      enum:
      - polyline6
      - polyline5
    SourceAttribution:
      type: object
      required:
      - source
      - source_id
      properties:
        fixit_url:
          type:
          - string
          - 'null'
          description: |-
            A URL where you can submit changes to the source data for a place
            (e.g. edit on OpenStreetMap, Foursquare Placemaker, etc.).
        source:
          type: string
          description: The source identifier.
          examples:
          - whosonfirst
          - openstreetmap
        source_id:
          type: string
          description: The ID of the record as it appears in the original source.
          examples:
          - '85633135'
          - node/4957653990
    SourceId:
      type: string
      description: Canonical data source identifiers.
      enum:
      - openstreetmap
      - openaddresses
      - whosonfirst
      - geonames
      - foursquare
    WhosOnFirstConcordances:
      type: object
      properties:
        eurographics_gisco_id:
          type:
          - string
          - 'null'
        faa_code:
          type:
          - string
          - 'null'
        factual_id:
          type:
          - string
          - 'null'
        fifa_id:
          type:
          - string
          - 'null'
        fips_code:
          type:
          - string
          - 'null'
        fr_gov_epci_code:
          type:
          - integer
          - 'null'
          format: int64
          description: An Open Data France EPCI code.
        fra_insee_code:
          type:
          - integer
          - 'null'
          format: int64
          description: Institut national de la statistique et des études économiques (Insee) code
        geonames_id:
          type:
          - integer
          - 'null'
          format: int64
        geoplanet_id:
          type:
          - integer
          - 'null'
          format: int64
        hasc_id:
          type:
          - string
          - 'null'
          description: A Statoids HASC ID.
        iata_code:
          type:
          - string
          - 'null'
        icao_code:
          type:
          - string
          - 'null'
        itu_id:
          type:
          - string
          - 'null'
        karmashapes_id:
          type:
          - string
          - 'null'
        natural_earth_id:
          type:
          - integer
          - 'null'
          format: int64
        nuts_2021_id:
          type:
          - string
          - 'null'
          description: A Eurostat NUTS 2021 ID
        quattroshapes_id:
          type:
          - integer
          - 'null'
          format: int64
        quattroshapes_pg_id:
          type:
          - integer
          - 'null'
          format: int64
          description: A Quattroshapes Point Gazetteer ID.
        us_census_geo_id:
          type:
          - integer
          - 'null'
          format: int64
        wikidata_id:
          type:
          - string
          - 'null'
        wikipedia_page:
          type:
          - string
          - 'null'
    WofContext:
      type: object
      properties:
        borough:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/WofContextComponent'
        continent:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/WofContextComponent'
        country:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/WofContextComponent'
        county:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/WofContextComponent'
        dependency:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/WofContextComponent'
        localadmin:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/WofContextComponent'
        locality:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/WofContextComponent'
        macrocounty:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/WofContextComponent'
        macroregion:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/WofContextComponent'
        marinearea:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/WofContextComponent'
        neighbourhood:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/WofContextComponent'
        ocean:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/WofContextComponent'
        region:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/WofContextComponent'
    WofContextComponent:
      type: object
      required:
      - gid
      - name
      properties:
        abbreviation:
          type:
          - string
          - 'null'
        gid:
          $ref: '#/components/schemas/DocumentGid'
        name:
          type: string
    access:
      type: object
      properties:
        golf_cart:
          type: boolean
        wheelchair:
          type: boolean
        taxi:
          type: boolean
        HOV:
          type: boolean
        truck:
          type: boolean
        emergency:
          type: boolean
        pedestrian:
          type: boolean
        car:
          type: boolean
        bus:
          type: boolean
        bicycle:
          type: boolean
        motorcycle:
          type: boolean
        moped:
          type: boolean
    adminRegion:
      type: object
      properties:
        country_code:
          type: string
          description: The [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code.
        country_text:
          type: string
          description: The country name
        state_code:
          type: string
          description: The abbreviation code for the state (varies by country).
        state_text:
          type: string
          description: The state name.
    administrative:
      type: object
      properties:
        iso_3166-1:
          type: string
          description: The ISO 3166-1 alpha-2 country code of the administrative region.
        country:
          type: string
          description: The full country name.
        iso_3166-2:
          type: string
          description: 'The ISO 3166-2 code identifying the principal subdivision (ex: provinces or states) within a country.'
        state:
          type: string
          description: The full state or province name.
    annotationFilters:
      type: object
      properties:
        action:
          type: string
          enum:
          - include
          - exclude
        attributes:
          type: array
          items:
            type: string
            enum:
            - shape_attributes.speed
            - shape_attributes.speed_limit
            - shape_attributes.time
            - shape_attributes.length
          description: A set of granular attributes to include between every pair of coordinates along the route. This can significantly increase the response size.
    autoCostingOptions:
      allOf:
      - $ref: '#/components/schemas/baseCostingOptions'
      - type: object
        properties:
          height:
            type: number
            format: double
            description: The height of the automobile (in meters).
            default: 1.9
          width:
            type: number
            format: double
            description: The width of the automobile (in meters).
            default: 1.6
          toll_booth_cost:
            type: integer
            description: The estimated cost (in seconds) when a toll booth is encountered.
            default: 15
          toll_booth_penalty:
            type: integer
            description: A penalty (in seconds) applied to the route cost when a toll booth is encountered. This penalty can be used to reduce the likelihood of suggesting a route with toll booths unless absolutely necessary.
            default: 0
          exclude_cash_only_tolls:
            type: boolean
            description: If true, avoids routes with cash-only tolls.
            default: false
          exclude_unpaved:
            type: boolean
            description: Indicates whether or not the path may include unpaved roads. If true, the route is allowed to start and end with unpaved roads, but is not allowed to have them in the middle of the route path. Otherwise they are allowed.
            default: false
          use_highways:
            type: number
            format: double
            description: A measure of willingness to take highways. Values near 0 attempt to avoid highways, and values near 1 will favour them. Note that as some routes may be impossible without highways, 0 does not guarantee avoidance of them.
            default: 0.5
            maximum: 1
            minimum: 0
          use_tolls:
            type: number
            format: double
            description: A measure of willingness to take toll roads. Values near 0 attempt to avoid tolls, and values near 1 will favour them. Note that as some routes may be impossible without tolls, 0 does not guarantee avoidance of them.
            default: 0.5
            maximum: 1
            minimum: 0
          use_tracks:
            $ref: '#/components/schemas/useTracksCostingOption'
          top_speed:
            type: integer
            description: The top speed (in kph) that the vehicle is capable of travelling.
            default: 140
            maximum: 252
            minimum: 10
          shortest:
            type: boolean
            description: If true changes the cost metric to be quasi-shortest (pure distance-based) costing. This will disable ALL other costing factors.
            default: false
          ignore_closures:
            type: boolean
            description: If true, ignores all known closures. This option cannot be set if `location.search_filter.exclude_closures` is also specified.
            default: false
          include_hov2:
            type: boolean
            description: If true, indicates the desire to include HOV roads with a 2-occupant requirement in the route when advantageous.
            default: false
          include_hov3:
            type: boolean
            description: If true, indicates the desire to include HOV roads with a 3-occupant requirement in the route when advantageous.
            default: false
          include_hot:
            type: boolean
            description: If true, indicates the desire to include toll roads which require the driver to pay a toll if the occupant requirement isn't met
            default: false
          alley_factor:
            type: number
            format: double
            description: A factor that multiplies the cost when alleys are encountered.
            default: 1
          use_distance:
            type: number
            format: double
            description: A measure of preference for time vs. distance. Values near 0 (default) optimize for time, while values near 1 optimize for shortest distance.
            default: 0
            maximum: 1
            minimum: 0
          closure_factor:
            type: number
            format: double
            description: A factor that penalizes the cost of traversing closed edges. The value is a multiplier on the cost of a closed edge; higher values make closed edges less likely to be used.
            default: 9
            maximum: 10
            minimum: 1
    baseCostingOptions:
      type: object
      properties:
        maneuver_penalty:
          type: integer
          description: A penalty (in seconds) applied when transitioning between roads (determined by name).
          default: 5
        gate_cost:
          type: integer
          description: The estimated cost (in seconds) when a gate is encountered.
          default: 15
        gate_penalty:
          type: integer
          description: A penalty (in seconds) applied to the route cost when a gate is encountered. This penalty can be used to reduce the likelihood of suggesting a route with gates unless absolutely necessary.
          default: 300
        country_crossing_cost:
          type: integer
          description: The estimated cost (in seconds) when encountering an international border.
          default: 600
        country_crossing_penalty:
          type: integer
          description: A penalty applied to transitions to international border crossings. This penalty can be used to reduce the likelihood of suggesting a route with border crossings unless absolutely necessary.
          default: 0
        service_penalty:
          $ref: '#/components/schemas/servicePenaltyCostingOption'
        service_factor:
          $ref: '#/components/schemas/serviceFactorCostingOption'
        use_living_streets:
          $ref: '#/components/schemas/useLivingStreetsCostingOption'
        use_ferry:
          $ref: '#/components/schemas/useFerryCostingOption'
        ignore_restrictions:
          type: boolean
          description: 'If set to true, ignores any restrictions (eg: turn and conditional restrictions). Useful for matching GPS traces to the road network regardless of restrictions.'
        ignore_non_vehicular_restrictions:
          type: boolean
          description: 'If set to true, ignores most restrictions (eg: turn and conditional restrictions), but still respects restrictions that impact vehicle safety such as weight and size.'
        ignore_oneways:
          type: boolean
          description: If set to true, ignores directional restrictions on roads. Useful for matching GPS traces to the road network regardless of restrictions.
        private_access_penalty:
          type: number
          format: double
          description: A penalty (in seconds) for accessing private roads.
          default: 450
        alley_penalty:
          type: number
          format: double
          description: A penalty (in seconds) for using alleys.
        rail_ferry_cost:
          type: integer
          description: The estimated cost (in seconds) when a rail ferry is encountered. Only applies to costing models that support rail ferries (auto, truck, motorcycle).
          default: 300
        use_rail_ferry:
          type: number
          format: double
          description: A measure of willingness to take rail ferries. Values near 0 attempt to avoid rail ferries, and values near 1 will favor them. Note that as some routes may be impossible without rail ferries, 0 does not guarantee avoidance of them. Only applies to auto, truck, and motorcycle costing.
          default: 0.4
          maximum: 1
          minimum: 0
        ignore_access:
          type: boolean
          description: If set to true, ignores access restrictions for the route.
          default: false
        ferry_cost:
          type: integer
          description: The estimated cost (in seconds) when a ferry is encountered.
          default: 300
    baseTraceRequest:
      allOf:
      - type: object
        required:
        - costing
        properties:
          id:
            $ref: '#/components/schemas/requestId'
          shape:
            type: array
            items:
              $ref: '#/components/schemas/mapMatchWaypoint'
            description: REQUIRED if `encoded_polyline` is not present. Note that `break` type locations are only supported when `shape_match` is set to `map_match`.
          encoded_polyline:
            type: string
            description: REQUIRED if `shape` is not present. An encoded polyline (https://developers.google.com/maps/documentation/utilities/polylinealgorithm). Note that the polyline must be encoded with 6 digits of precision rather than the default 5!
          costing:
            $ref: '#/components/schemas/mapMatchCostingModel'
          costing_options:
            $ref: '#/components/schemas/costingOptions'
          date_time:
            $ref: '#/components/schemas/timeConstraintV1'
          shape_match:
            type: string
            description: |-
              Three snapping modes provide some control over how the map matching occurs. `edge_walk` is fast, but requires extremely precise data that matches the route graph almost perfectly. `map_snap` can handle significantly noisier data, but is very expensive. `walk_or_snap`, the default, tries to use edge walking first and falls back to map matching if edge walking fails.
              In general, you should not need to change this parameter unless you want to trace a multi-leg route with multiple `break` locations in the `shape`.
            enum:
            - edge_walk
            - map_snap
            - walk_or_snap
    bicycleCostingOptions:
      allOf:
      - $ref: '#/components/schemas/baseCostingOptions'
      - type: object
        properties:
          bicycle_type:
            type: string
            description: |-
              The type of bicycle:
              * Road: has narrow tires and is generally lightweight and designed for speed on paved surfaces * Hybrid or City: designed for city riding or casual riding on roads and paths with good surfaces * Cross: similar to a road bike, but has wider tires so it can handle rougher surfaces * Mountain: able to handle most surfaces, but generally heavier and slower on paved surfaces
            default: Hybrid
            enum:
            - Road
            - Hybrid
            - Cross
            - Mountain
          cycling_speed:
            type: integer
            description: |-
              The average comfortable travel speed (in kph) along smooth, flat roads. The costing will vary the speed based on the surface, bicycle type, elevation change, etc. This value should be the average sustainable cruising speed the cyclist can maintain over the entire route.
              The default speeds are as follows based on bicycle type:
                * Road - 25kph
                * Cross - 20kph
                * Hybrid - 18kph
                * Mountain - 16kph
          use_roads:
            type: number
            format: double
            description: A measure of willingness to use roads alongside other vehicles. Values near 0 attempt to avoid roads and stay on cycleways, and values near 1 indicate the cyclist is more comfortable on roads.
            default: 0.5
            maximum: 1
            minimum: 0
          use_hills:
            $ref: '#/components/schemas/useHillsCostingOption'
          avoid_bad_surfaces:
            type: number
            format: double
            description: A measure of how much the cyclist wants to avoid roads with poor surfaces relative to the type of bicycle being ridden. When 0, there is no penalization of roads with poorer surfaces, and only bicycle speed is taken into account. As the value approaches 1, roads with poor surfaces relative to the bicycle type receive a heaver penalty, so they will only be taken if they significantly reduce travel time. When the value is 1, all bad surfaces are completely avoided from the route, including the start and end points.
            default: 0.25
            maximum: 1
            minimum: 0
          bss_return_cost:
            type: integer
            description: The estimated cost (in seconds) to return a bicycle in `bikeshare` mode.
            default: 120
          bss_return_penalty:
            type: integer
            description: A penalty (in seconds) to return a bicycle in `bikeshare` mode.
            default: 0
    bikeNetwork:
      type: object
      properties:
        mountain:
          type: boolean
        local:
          type: boolean
        regional:
          type: boolean
        national:
          type: boolean
    bulkSearchRequest:
      type: array
      items:
        type: object
        title: BulkRequest
        required:
        - endpoint
        - query
        properties:
          endpoint:
            type: string
            enum:
            - /v1/search
            - /v1/search/structured
            - /v1/reverse
          query:
            oneOf:
            - $ref: '#/components/schemas/searchQuery'
            - $ref: '#/components/schemas/searchStructuredQuery'
            - $ref: '#/components/schemas/reverseQuery'
      example:
      - endpoint: /v1/search
        query:
          text: Põhja pst 27
      - endpoint: /v1/search
        query:
          lang: en
          text: 101 N Main St, Greenville SC
      - endpoint: /v1/reverse
        query:
          lang: en
          point.lat: 48.848268
          point.lon: 2.294471
    bulkSearchResponse:
      type: object
      required:
      - status
      properties:
        status:
          type: integer
        response:
          $ref: '#/components/schemas/geocodeResponse'
        msg:
          type: string
          description: An error message describing what went wrong (if the status is not 200).
    contour:
      type: object
      properties:
        time:
          type: number
          format: double
          description: The time in minutes for the contour. Mutually exclusive of distance.
[...]
